{% extends 'base.html' %}

{% block title %}
Clientes
{% endblock %}

{% block content %}
{% include 'modals/store_client.html' %}
<div class="row">
    <h1 class="col-9">Clientes</h1>
    <button class="col-2 btn btn-primary" data-toggle="modal" data-target="#storeModal">Crear Cliente</button>
</div>
<br>
<table class="table table-bordered table-striped">
    <thead class="bg-success text-light">
        <tr>
            <th class="text-center">Nombre</th>
            <th class="text-center">Cedula</th>
            <th class="text-center">Telefono</th>
            <th class="text-center">Fecha</th>
            <th class="text-center">Formula Medica</th>
            <th class="text-center">Valor</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody class="text-center">
        {% for client in clients %}
                <tr>
                    <td>{{ client.name }}</td>
                    <td>{{ client.card }}</td>
                    <td>{{ client.phone }}</td>
                    <td>{{ client.date }}</td>
                    <td>{{ client.medical_prescription }}</td>
                    <td>{{ client.valor }}</td>
                    <td>    
                        <!-- Botón para Editar -->
                        <button class="btn btn-success" data-toggle="modal" data-target="#updateModal{{ client.id }}" title="Editar">
                            <i class="fas fa-edit"></i>
                        </button>
                        
                        <!-- Botón para Mover a la Papelera -->
                        <button class="btn btn-warning" data-toggle="modal" data-target="#trashModal{{ client.id }}" title="Mover a la Papelera">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            {% include 'modals/update_client.html' %}
            {% include 'modals/trash_client.html' %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
